<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta noindex="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Include the CSS & JS.. (This could be direct from the package or bundled) -->
    <link rel="stylesheet" href="node_modules/lite-youtube-embed/src/lite-yt-embed.css" />

    <script src="node_modules/lite-youtube-embed/src/lite-yt-embed.js"></script>

    <!-- Use the element. You may use it before the lite-yt-embed JS is executed. -->
    <lite-youtube videoid="ogfYd705cRs" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>
    <title>Youtube Embed</title>
  </head>
  <body></body>
</html>
