<header>
  <h1>{{ site.title }}</h1>
  <nav>
    <ul>
      <li><a href="/css_layers">CSS Layers</a></li>
      <li><a href="#container-queries">Container Queries</a></li>
      <li><a href="#grid">Grid and Subgrid</a></li>
      <li><a href="#grid-names">Grid Names</a></li>
      <li><a href="#nesting">CSS Nesting</a></li>
      <li><a href="#font-loading">CSS Font Loading API</a></li>
      <li><a href="#scoping">CSS Scoping</a></li>
      <li><a href="#focus-visible">The :focus-visible Pseudo Class</a></li>
      <li><a href="#text-wrap">New values for text-wrap: balance</a></li>
      <li><a href="#modern-units">Modern units</a></li>
      <li><a href="#view-transitions">View Transitions</a></li>
      <li>
        <a href="#responsive-no-media-queries"
          >Responsive HTML site without media queries</a
        >
      </li>
      <li><a href="#a11y">Building with accessibility (a11y)</a></li>
      <li>
        <a href="#dark-light-mode"
          >Dark/Light mode preference and manual switch</a
        >
      </li>
      <li><a href="#responsive-menu">Responsive menu bar</a></li>
      <li><a href="#oklch-colors">Using modern OKLCH colors</a></li>
      <li><a href="#variable-fonts">Using variable fonts</a></li>
      <li><a href="#scroll-snapping">Scroll snapping with CSS</a></li>
      <li><a href="#text-animations">Text animations with CSS</a></li>
      <li><a href="#colored-borders">Colored and gradient borders</a></li>
    </ul>
  </nav>
</header>
